.services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.service{
    border: 1px solid lightslategray;
    border-radius: 5px;
    width: 90%;
    padding: 15px;
    margin: 10px;
}